html,body{margin:0;padding:0;overflow:scroll;}
body{
	font-family:"微软雅黑";
	text-align: center;
	color: #fff;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}
h2{
	font-size:4em;
	padding-top: 5% !important;
	vertical-align: middle;
}
h4{
	font-size: 2em;
	padding-bottom: 4% !important;
	margin-top: 10px;
	vertical-align: middle;
}
p{
	font-size: 19px;
	line-height: 33px;
	opacity: 0.699999988079071044921875;
	text-align: justify;
}
::-webkit-scrollbar, -moz-scrollbar {
	width : 0px;
}
::-webkit-scrollbar-track, -moz-scrollbar {
	width : 0px;
	background : rgba(51, 51, 51, 0.21);
}
::-webkit-scrollbar-thumb, -moz-scrollbar {
	background : rgba(51, 51, 51, 0.71);
}
#home-area{
	position:fixed;
	width:100%;
	z-index:1;
}
.home-area-text p{
	display:block;
	font-size:16px;
	width:80%;
	margin:auto;
	text-align: center;
}
ul.countdown{
	list-style:none;
	padding:0;
	display:block;
	text-align: center;
	margin:2% 0;
}
ul.countdown li{display:inline-block;padding:20px;}
ul.countdown li span{
	font-family: 'Roboto Slab',serif;
	font-size:24px;
	font-weight: 200;
	line-height: 40px;
	color:#2098F5;
}
ul.countdown p{
	font-size:18px;
	float: right;
	padding-top:7px;
	text-transform: capitalize;
	font-weight: 700;
}
.enter{
	display:inline-block;
	width:100px;
	border:#ddd solid 1px;
	border-radius: 5px;
	padding:10px 20px;
	background: #2098F5;
}
#gai{
	overflow:hidden;
	width:100%;
	background: rgba(0,0,0,0.8);
	margin-top:-20px;
	z-index:10;
}
.item img{
	width:100%;
	position:relative;
}
.dropdown-menu{
	text-align: center;
}
.self-info{
	z-index:99999;
	position:relative;
}
section{
	margin:0;
	padding:0;
	background-color:#aee2d9;
}
.selfIntro *{
	text-align: center;
}
.navbar{
	position:fixed;
	width:100%;
	height:40px;
	z-index:999999;
}
.ability{
	text-align: center;
}
.tag-panel{
	display:block;
	text-align: center;
}
.tag{
	display:inline-block;
	background-color: #096254;
	border:1px solid #096254;
	border-radius: 3px;
	padding:2px 8px;
	margin-bottom: 3px;
	margin-right: 3px;
}
.ability p{
	display:inline-block;
}
.workExp *{
	text-align:center;
}