html,body{height:auto;width:100%;margin:0;padding:0;}
body{
	font-family:"微软雅黑";
	text-align: center;
	color: #fff;
	background: transparent url(../img/body_bg.jpeg) no-repeat fixed 0% 0% / cover;
}
h2{
	font-size:4em;
	padding-top: 5% !important;
	vertical-align: middle;
}
h4{
	font-size: 2em;
	padding-bottom: 4% !important;
	margin-top: 10px;
	vertical-align: middle;
}
p{
	font-size: 19px;
	line-height: 33px;
	opacity: 0.699999988079071044921875;
	text-align: justify;
}
::-webkit-scrollbar, -moz-scrollbar {
	width : 0px;
}
::-webkit-scrollbar-track, -moz-scrollbar {
	width : 0px;
	background : rgba(51, 51, 51, 0.21);
}
::-webkit-scrollbar-thumb, -moz-scrollbar {
	background : rgba(51, 51, 51, 0.71);
}
#home-area{
	width:100%;
	height:900px;
	background:rgba(0, 1, 3,0.7) no-repeat fixed 100% 100% / cover;
	border-bottom: 3px solid #000;
}
ul.countdown{
	list-style:none;
	padding:0;
	display:block;
	text-align: center;
	margin:5% 0;
}
ul.countdown li{display:inline-block;padding:24px;}
ul.countdown li span{
	font-family: 'Roboto Slab',serif;
	font-size:60px;
	font-weight: 200;
	line-height: 80px;
	color:#2098F5;
}
ul.countdown p{
	font-size:18px;
	float: right;
	padding-top:20px;
	text-transform: capitalize;
	font-weight: 700;
}
ul.countdown li span.self{
	font-size:40px;
	line-height:80px;
}
.submit{
	border:#ddd solid 1px;
	border-radius: 5px;
	padding:10px 20px;
	background: #2098F5;
}